asgiref
Django
django-environ
gunicorn
packaging
pillow
psycopg
psycopg-binary
sqlparse
typing_extensions
whitenoise
Django
djangorestframework
celery
redis
psycopg2-binary
django-environ
django-allauth
django-crispy-forms
requests
stripe
python-decouple
django-filter
django-cors-headers
channels
humanize
django-storages
django-environ
pycoingecko


